{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <style>
        .z{
        color:white;
        text-decoration: none;
        }
    </style>
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <h1>Job Portal</h1>
        </div>

        <nav>

            <ul>

                <li><a href="/home">Home</a></li>
                <li><a href="/user_applied?email={{request.session.email}}">Applied</a></li>
                <li><a href="/out">logout</a></li>
                <li><a href="/profile?email={{request.session.email}}">{{request.session.email}}</a></li>
            </ul>



        </nav>

    </header>

    <!-- Main Section (Job Listings) -->
    <main>
        <section id="home" class="hero">
            <h2>Find Your Dream Job</h2>
            <p>Explore thousands of job opportunities across various industries.</p>
        </section>

        <h2>Job Listings</h2>
        <section id="jobs" class="job-listings">

              {%for i in data%}
            <div class="job-item">
                <h3>{{i.role}}</h3>
                <p>Company: {{i.company}}</p>
                <p>Location: {{i.location}}</p>
                <p>Skills:{{i.learn}}</p>
                <p>Total Vacancy:{{i.vac}}</p>
                 <button ><a href="/apply?company={{i.company}}" class="z">Apply Now</a></button>
            </div>
            {%endfor%}

        </section>


    </main>

    <!-- Footer Section -->
    <footer id="contact">
        <p>Contact us: info@jobportal.com</p>
        <p>&copy; 2024 Job Portal. All rights reserved.</p>
    </footer>

</body>
</html>
